<p id="notice"><%= notice %></p>

<p>
  <strong>Overview:</strong>
  <%= @project.overview %>
</p>

<p>
  <strong>From:</strong>
  <%= @project.from %>
</p>

<p>
  <strong>To:</strong>
  <%= @project.to %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @project.scale %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @project.phase %>
</p>

<p>
  <strong>Architect:</strong>
  <%= @project.architect %>
</p>

<p>
  <strong>Role:</strong>
  <%= @project.role %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
